.backdrop {
    position: fixed;
    inset: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    display: grid;
    place-items: center;
}

.modal-box {
    width: 40%;
    background-color: var(--primary-white);
    border-radius: 1rem;
    animation: fade-in 0.25s;
}

.modal-header h2 {
    text-align: center;
    padding: 0.5rem;
}

.modal-body {
    padding: 0.5rem;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}